/* Standard helper classes*/
#background {
    -fx-background-color: #BF1441;
    -fx-padding: 5px;
}

#header {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: black;
    -fx-border-style: solid;
}

#header > ImageView {
    -fx-fit-to-height: 90px;
    -fx-fit-to-width: 35px;
}

#header > Label {
    -fx-font-size: 19px;
}

/* Default component overrides*/
* {
    -fx-font-family: Verdana;
}

Label {
    -fx-text-fill: #F4F3EE;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

ChoiceBox Label {
    -fx-text-fill: black;
    -fx-font-weight: normal;
}

TextField, PasswordField, ChoiceBox {
    -fx-font-size: 15px;
    -fx-text-fill: black;
    -fx-background-radius: 70px;
    -fx-pref-height: 35;
    -fx-pref-width: 200;
}

Button, ChoiceBox {
    -fx-cursor: hand;
}

Hyperlink, .hyperlink:hover {
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-border-width: 0;
    -fx-underline: false;
}

.hyperlink:hover {
    -fx-underline: true;
}

Button {
    -fx-background-color: #252422;
    -fx-background-radius: 70px;
    -fx-text-fill: white;
    -fx-padding: .5em 1.5em;
    -fx-font-size: 15px;
}

Button:hover {
    -fx-scale-x: 105%;
    -fx-scale-y: 105%;
}

.no_scaling {
    -fx-scale-x: 100% !important;
    -fx-scale-y: 100% !important;
}

Button.title, Label.title {
    -fx-font-size: 19px;
}

/* Scrollbar fix */
ScrollPane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0px;
}

ScrollPane > .viewport {
    -fx-background-color: #252422;
    -fx-background-radius: 10;
}

ScrollPane .increment-button,
ScrollPane .decrement-button,
ScrollPane .increment-arrow,
ScrollPane .decrement-arrow
{
    -fx-padding: 0;
    -fx-shape: "";
}

ScrollPane > .scroll-bar:vertical{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

/* Search results */
.selection-border {
    -fx-border-width: 4;
    -fx-border-color: red;
    -fx-border-style: solid;
}

/* Sidebar */
#sidebar {
    -fx-background-color: white;
}

#sidebar .titled-pane {
    -fx-animated: true;
}

#sidebar .titled-pane > .title {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-font-size: 21px;
}

#sidebar .titled-pane > .title > .text {
    -fx-text-fill: black;
    -fx-fill: black;
}

#sidebar .titled-pane > .content {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#sidebar .titled-pane > .title > .arrow-button > .arrow, #sidebar .titled-pane > .title > .arrow-button {
    -fx-padding: 0;
    -fx-shape: "";
}

#sidebar > AnchorPane {
    background-color: green;
}

#sidebar > AnchorPane > VBox > AnchorPane > HBox, #sidebar .titled-pane > .content HBox {
    -fx-cursor: hand;
}

#sidebar > AnchorPane > VBox > AnchorPane {
    -fx-pref-height: 50;
}

#sidebar .titled-pane {
    -fx-font-size: 21px;
    -fx-background-color: transparent;
}

#sidebar Button {
    -fx-font-size: 21px;
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-padding: 0;
}